@font-face {
  font-family: customLatoFont;
  src: url("./res/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: boldLato;
  src: url("./res/Lato/Lato-Bold.ttf");
}

body {
  margin: 0;
  font-family:customLatoFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: customLatoFont;
}
