:root {
    --primary-color: #EEB75D;
    --background-color: #101010;
    --bg-light: #202020;
    --bg-dark: #181818;
    --text: #FFFFFF;
    --description: #9f9f9f;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bf8527;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bf8527;
}


@font-face {
    font-family: 'Unbounded';
    src: url(src/assets/fonts/Unbounded/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'Unbounded-Bold';
    src: url(src/assets/fonts/Unbounded/Unbounded-Bold.ttf);
}

@font-face {
    font-family: 'Unbounded-Light';
    src: url(src/assets/fonts/Unbounded/Unbounded-Light.ttf);
}

body {
    background-color: var(--background-color);
    color: var(--text);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.604);

    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
}

.menu.backdrop {
    background-color: rgba(0, 0, 0, 0.943);
    transform: translateY(0px) translateX(50px);
}


.menuHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuHeader {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    top: 0;
}

.menuHeader>span {
    font-size: 40px;
    margin: 20px;
    color: var(--primary-color);
}

.menuData {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.menuData>.nav_links {
    font-size: 20px;
    margin: 10px;

    color: var(--text);
    transition: 0.3s ease-in-out;

}


.showMenu {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

.testModal {
    width: 60vw;
    background-color: var(--bg-dark);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: none;

}

.showTest {
    display: flex;

}

.testModalHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

}

.testModalHeader>.cross {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contactModal {
    width: 43%;
    background-color: var(--bg-dark);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;



}



.formHeader {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

.formHeader>h2.section-title {
    font-size: 35px;
    font-weight: 300;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    margin: 0px;
}

.formHeader>span {
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
}

.form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.fieldHolder {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;

}

.fieldTitle {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.field {
    background-color: black;
    border: black;
    color: var(--primary-color);
    transition: ease 0.5s;
    font-size: 16px;

    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background-color: black;
    border-radius: 5px;
}

.field:focus {
    transition: ease 0.5s;
    background-color: black;
    color: var(--primary-color);
    box-shadow: 0 0 0px 0.1em var(--primary-color);

    outline: none !important;
    border: 0.5px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.radioHolder {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
    color: var(--description);
    margin-top: 10px;
}

.radio {
    margin-right: 20px;
    padding: 5px;
    padding-left: 0px;
}

.radio>label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="radio"]:checked+label {
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--bg-dark);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--description);
    transition: 0.3s ease-in-out;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}

.fieldHolder>textarea {
    width: 90%;
    height: 100px;
    background-color: black;
    border: black;
    color: var(--primary-color);
    transition: ease 0.5s;
    font-size: 16px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background-color: black;
    border-radius: 10px;
}



::selection {
    background: var(--primary-color);
    color: black;
}

.cta-button {
    background: url(src/assets/images/gold-texture.png);
    background-size: 100%;
    color: var(--text);
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 16px;
    cursor: pointer;
}

.cta-button:hover {
    background-size: 150%;
    transition: 0.3s;
}

.description {
    color: var(--description);
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h2.section-title {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0px;

    visibility: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
}

.hero {
    width: 98%;
    height: 80vh;

    border-radius: 10px;

    background-color: var(--bg-light);
    margin: auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

#heroVideo {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: relative;


}

.nav {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.081);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;

}

.nav>.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav>.head>img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav>.head>span {
    font-size: 14px;
}

.nav_links {
    color: var(--description);
    margin-right: 25px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.nav_links:hover {
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.cta-holder.mobile {
    display: none;
}

.menu-icon {
    width: 30px;
    height: 30px;
}

.hero-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.hero-title {
    background-color: var(--bg-dark);
    padding: 20px;
    font-size: 3rem;
    line-height: 50px;
    font-weight: 300;
    border-radius: 20px;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0px;
}

.hero-title.t1 {
    border-bottom-left-radius: 0px;
}

.hero-title.t2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hero-data>p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Unbounded-Light', Arial, Helvetica, sans-serif;
    color: var(--description);
    margin: 0px;
    width: 45%;
    padding: 20px;
    background-color: var(--bg-dark);
    border-top-right-radius: 10px;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    overflow-x: hidden;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #666666;
    font-size: 10px;
}

.heading-line {
    width: 35%;
    height: 0.3%;
    border-width: 0;
    background-color: #666666;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}



.brand-holder {
    width: 2400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.brand-holder>img {
    height: 65px;
    margin: 0px 20px;
    white-space: nowrap;

}


.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.about-img {
    position: absolute;
    left: 5%;
    visibility: 0;
    opacity: 0;
    transition: 0.010s ease-in-out;
}

.showAboutImg{
    visibility: 1;
    opacity: 1;
    left: 10%;
    transition: 1s ease-in-out;
}

.about-data {
    width: 95%;
    border-radius: 20px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.about-data>.data-holder {
    width: 45%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



.about-data>.data-holder>p {
    margin-bottom: 40px;
    width: 90%;
    visibility: 0;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s ease-in-out;
}

.about-data>.data-holder>p.showAboutPara {

    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

.about-title{
    visibility: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
}

.about-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}


.work-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}


.service-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

.test-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}



.blog-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

.section-title.showTitle{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}




.about-cta{
    visibility: 0;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s ease-in-out;
}

.showAboutCta{

    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}


.section {
    width: 98%;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.sheader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.sheader>p {
    width: 50%;
}

.card-holder {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.card {
    width: 300px;
    height: 300px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    border-radius: 24px;
    transition: 0.3s ease-in-out;
}

.card-title {
    color: white;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    word-wrap: break-word;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.card:hover {
    /* background-color: var(--bg-light); */
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-in-out;
}

.card:hover .card-title {
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}


.card.service{
    visibility: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease-in-out;
}

.card.service.showService{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

.tests {
    background-color: var(--bg-light);
    background-image: url('src/assets/images/globe.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:difference;
    padding-bottom: 20px;
    padding-top: 20px;

    overflow-x: hidden;
}

.card.test {
    padding-top: 20px;
    width: 320px;
    height: auto;
    margin-right: 40px;
}



.card.test>.card-about>span {
    font-size: 14px;
    color: var(--primary-color);


}

.card.test>.card-about>p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card.test>.card-about>span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.test-footer {
    margin-top: 30px;
}


.test-location {
    margin: 0px;
}


.test-holder {
    width: 7000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    animation-name: infiniteScroll;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 0.3s ease-in-out;
}

.slowTest{
    animation-play-state: paused;
    transition: 0.3s ease-in-out;
}


.blogs {
    height: 90vh;
    background-color: var(--bg-dark);
}

.blog-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.blog-holder{   

    justify-content: space-evenly;
    width: 100%;
}

.card.blog {
    width: 25%;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

}

.card.blog:visited {
    color: white;
    text-decoration: none;
}
/* 
.card.blog:active+ .blog-title {
    color: white;
    text-decoration: none;
}
 */



span.blog-title {
    color: white;

    text-decoration: none;
}


.blog-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

}

.cta-section {
    width: 98%;
    background: url('src/assets/images/footer-texture.png');

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.cta-section>.section-title {
    width: 40%;
    padding-left: 60px;
}

.cta-data {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 30px;
}

.cta-data>p {
    margin-bottom: 30px;
}

footer {
    width: 98%;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;

}

h2.footer-title {
    font-size: 32px;
}

footer>div {
    padding-left: 40px;
    padding-right: 40px;
}

.icon-holder>a {
    margin-right: 15px;


}

.icon-holder>a:active{
    color: transparent;

}

.icon-holder>a:visited{
    color: transparent;

}

.icon-holder>a:hover {
    color: transparent;
}

.meta-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.meta-data>p>a,
.meta-data>p>a:active {
    color: var(--description);
}

.meta-data>p>a:visited {
    color: var(--description);
}

.section.work {
    height: 100vh;
    padding-top: 20px;
}



.macbook {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background: url('src/assets/images/macbook-frame.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    background-position: center;

    opacity: 0;
    visibility: 0;
    transform: translateY(30px) scale(0.8);
    transition: 0.5s ease-in-out;
}

.showMacbook{
    opacity: 1;
    visibility: 1;
    transform: translateY(0px) scale(1);
    transition: 0.5s ease-in-out;
}



.taskbar {
    position: absolute;
    bottom: 11%;
    padding-left: 9.93px;
    padding-right: 9.93px;
    padding-top: 10.45px;
    padding-bottom: 7.45px;
    background: linear-gradient(125deg, rgba(112, 112, 112, 0.204) 0%, rgba(229, 229, 229, 0.286) 100%);
    border-radius: 14.89px;
    /* border: 0.35px white solid; */
    backdrop-filter: blur(38.90px);
    justify-content: center;
    align-items: center;

    display: inline-flex;

}



.taskbar-app {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0);
}


.app-content {
    visibility: hidden;
    opacity: 0;
    height: 60vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.331);
    position: absolute;
    border-radius: 15px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;

    transform: translateY(10px);
    transition: 0.3s ease-in-out;
}

/* .app-content.venyou{
    opacity: 1;
} */

.taskbar-app:hover {
    cursor: pointer;
    border: 1px solid #000000;
    transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: translateY(-5px);
}


.taskbar-app:hover+.app-content,
.app-content:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

.app-img {

    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.app-location {
    margin: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-location>svg {
    margin-right: 5px;
}

.app-title {
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 0px;
}

.app-box {
    height: 90%;
    padding: 20px;
    padding-top: 0px;
}

.app-box>p {
    color: white;
}

.app-link-holder {
    margin-top: 30px;
}

.app-link {
    margin-right: 10px;
}

.app-link:hover {
    cursor: pointer;
}




/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
@media only screen and (max-width: 1400px) {
    .about-img{
        transform: scale(0.9);
        left: 1%;
    }

    .card.service{
        width: 280px;

    }


    .contactModal{
        height: 80%;
        overflow: scroll;
    }

    .testModal{
        height: 80%;
        overflow: scroll;
    }
}


@media only screen and (max-width: 768px) {

    .contactModal {
        width: 80%;
        height: 90%;
        overflow: scroll;
    }

    .radioHolder {
        flex-direction: column;
        margin-bottom: -10px;
    }

    .radio {
        margin-bottom: 10px;
    }

    .link-holder {
        display: none;
    }

    .cta-holder {
        display: none;
    }

    .cta-holder.mobile {
        display: block;
    }

    .section {
        width: 95%;
        height: auto;
    }


    h2.section-title {
        font-size: 30px;

    }

    .hero-content {
        flex-direction: column;
    }

    .nav {
        width: 90%;

    }

    .testModal {
        width: 90vw;
        height: 60%;
        overflow: scroll;

    }

    .hero-title {
        font-size: 1.19rem;
        padding-bottom: 0px;
        padding-top: 0px;
        border-top-right-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        line-height: 2.2;
    }

    .hero-data>p {
        width: 95%;
        font-size: 14px;
        padding-top: 0px;
        border-top-right-radius: 20px;
        line-height: 1.5;
    }


    .heading>h2 {
        font-size: 12px;

    }

    .heading-line {
        width: 12%;
    }

    .brands {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .brand-holder {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        animation-duration: 10s;

    }

    .brand-holder>img {
        height: 50px;
        margin: 0px;
        margin-top: 20px;
    }

    .about {
        margin-top: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .about-img {
        position: relative;
        width: 93%;
        height: auto;
        margin: 0px;
        padding: 0px;

        position: unset;
        margin-bottom: 10px;

    }

    .about-data {
        flex-direction: column;
        width: 95%;
    }

    .about-data>.data-holder {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;

        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .about-data>.data-holder>h2 {
        padding: 15px;
        padding-bottom: 7px;
    }

    .about-data>.data-holder>.description {
        width: 90%;
        padding: 15px;
        padding-top: 7px;
        font-size: 13.5px;
        line-height: 24px;
        font-weight: 300;
        padding-bottom: 0px;
        font-family: 'Unbounded-Light' , Arial, Helvetica, sans-serif;
        margin-bottom: 0px;

    }

    .about-data>.data-holder>p>span {
        display: none;
    }

    .about-data>.data-holder>.cta-button {
        margin-left: 15px;
    }


    .sheader {
        flex-direction: column;
        width: 100%;
        padding: 15px;
        width: 90%;
        padding-top: 30px;
        justify-content: center;
        align-items: flex-start;
    }

    .sheader>p {
        width: 100%;
    }

    .card-holder {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 78%;
        margin-bottom: 20px;
        justify-content: flex-start;
        height: auto;
        padding: 28px;
    }

    .card-img {
        width: 40px;
    }

    .card-about {
        margin-top: 0px;
    }

    .card-title {
        font-size: 20px;
        line-height: 30px;

    }

    .section.work {
        height: auto;
        padding-bottom: 150px;
        position: relative;
    }

    .macbook {
        width: 95%;
        height: 80vh;
        background: url('src/assets/images/iframe.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /* transform: translateY(10px);
        transition: 0.3s ease-in-out; */

        opacity: 0;
        visibility: 0;
        transform: translateY(30px) scale(0.8);
        transition: 0.5s ease-in-out;

    }

    .macbook.showMacbook{
        opacity: 1;
        visibility: 1;
        transform: translateY(0px) scale(1);
        transition: 0.5s ease-in-out;
    }

    .venyouScreenshot {
        background: url('src/assets/images/screenshots/venyou.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }

    .playnootScreenshot {
        background: url('src/assets/images/screenshots/playnoot.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }
/* 
    .playwiseScreenshot {
        background: url('src/assets/images/screenshots/playwise.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    } */

    .chanakyaScreenshot {
        background: url('src/assets/images/screenshots/chanakya.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }

    .haulrScreenshot {
        background: url('src/assets/images/screenshots/haulr.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }


    /* .singhalJainScreenshot {
        background: url('src/assets/images/screenshots/singhaljain.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    } */

    .ayuraidScreenshot {
        background: url('src/assets/images/screenshots/ayuraid.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }


    .pc.taskbar {
        width: 75%;
        bottom: -18%;
        background: linear-gradient(125deg, rgba(138, 138, 138, 0.448) 0%, rgba(140, 140, 140, 0.519) 100%);

    }



    .app-img {
        display: none;
    }


    .app-content {
        width: 90%;
        height: auto;
        padding: 10px;
        bottom: 65px;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.466) 0%, rgba(0, 0, 0, 0.408), rgba(229, 229, 229, 0) 100%);
        border-radius: 5px;
        border: none;
        /* bottom: -100px; */
    }

    .app-box {
        padding: 0px;
        width: 100%;
    }

    .app-header {
        display: none;
    }

    .app-content>.app-box>.app-header>span {
        display: none;
    }

    .app-box>p {
        display: none;
    }

    .app-title {
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }

    .app-link-holder {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    .app-link {
        margin: auto;
    }


    .tests {
        padding: 20px;
        padding-top: 40px;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
        background-image: url('src/assets/images/globe.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-blend-mode:difference;

    }

    .tests>h2 {
        font-size: 27px;
        text-align: center;
    }

    .blogs {
        padding: 20px;
        padding-top: 40px;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
    }

    .card.test {
        width: 250px;
        margin-right: 0px;
    }


    .blogs {

        height: auto;
        padding: 20px;
        padding-top: 50px;
    }

    .test-holder {
        width: 5300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        animation-name: infiniteScroll;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transition: 0.3s ease-in-out;
    }


    .blog-img {
        height: 200px;
        width: 100%;
    }

    .card.blog {
        width: 90%;
        height: auto;
        background-color: transparent;
    }


    .cta-section {
        width: 85%;
        flex-direction: column;
        padding: 20px;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cta-section>.section-title {
        width: 100%;
         background-position: center;
         background-size: cover;
        padding-left: 0px;
    }

    .cta-data {
        width: 100%;
        padding-right: 0px;
    }

    .cta-data>p {
        width: 100%;
    }

    footer {
        width: 95%;
        flex-direction: column;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2.footer-title {
        font-size: 18px;
    }

    .icon-holder {
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
    }

    .meta-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .meta-data>p {
        text-align: center;
        margin: 5px;
    }


.card.service{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

.section-title.blog-title{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

.section-title.service-title{
    visibility: 1;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

.fieldHolder>#formButton{
    margin-top: -10px;
}
}