
html {
    scroll-behavior: smooth;
  }
@font-face {
    font-family: myFirstFont;
    src: url(/res/font/Montserrat/Montserrat-Light.ttf);
  }
body{
    font-family: myFirstFont;
    margin: 0%;
    
}



/*** hero **/

section.hero{
    height: auto;
}

img.logo{
    float: left;
    width:6%;
    
}

nav{
    text-align: right;
    padding: 10px;
    background-color: rgb(0, 96, 223);
    overflow: auto;
    
}

/**** side bar ***/ 
span.sideopen{
    color: white;
    font-size:30px;
    cursor:pointer;
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:  rgba(0, 69, 160, 0.884);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .sidenav a {
    padding: 8px 50px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ffffff;
    font-weight: 900;
    
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    margin-left: 10px;
  }

/***************************************/

div.navdiv, div.navdiv a {
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    
}



div.head{
    text-align: center;
    
}

div.head h1{
    font-size: 60px;
    margin: 20px;
    font-weight: 800;
}

div.head img.hpic{
    width: 20%;
}

div.head div.subhead h3{
    display: inline-block;
    padding: 10px;
    font-size: 22px;
}


div.headicontray{
    width: 100%;

}

div.headicontray a.icon{
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
}

div.headicontray a.icon:visited{
    color: rgb(0, 0, 0);
}

div.headicontray a.icon:active{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

div.headicontray a.icon:link{
    text-decoration: none;
}

div.headicontray a.icon:hover{
    text-decoration: underline;
}

/** cube **/

div.graphicDesgin{
    margin: 20px;
    padding-top: 30px;
}

.graphicDesgin>h2{
    padding-bottom: 50px;
    font-size: 30px;
}

.scene {
    width: 350px;
    height: 350px;
    
    padding-bottom: 30px;
    perspective: 400px;
    margin: auto;
   
  }
  
  .cube {
    width: 350px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
  }
  
  .cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
  .cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
  .cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
  .cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
  .cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
  .cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
  
  .cube__face {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .cube__face--front  { background-image: url("gd/gh.png");
background-size: contain; }
  .cube__face--right  { background-image: url("gd/gp.png");
    background-size: contain; }
  .cube__face--back   { background-image: url("gd/pc.png");
    background-size: contain; }
  .cube__face--left   { background-image: url("gd/mf.png");
    background-size: contain; }
  .cube__face--top    { background-image: url("gd/es.png");
    background-size: contain; }
  .cube__face--bottom { background-image: url("gd/ptools.png");
    background-size: contain; }
  
  .cube__face--front  { transform: rotateY(  0deg) translateZ(177px); }
  .cube__face--right  { transform: rotateY( 90deg) translateZ(177px); }
  .cube__face--back   { transform: rotateY(180deg) translateZ(177px); }
  .cube__face--left   { transform: rotateY(-90deg) translateZ(177px); }
  .cube__face--top    { transform: rotateX( 90deg) translateZ(177px); }
  .cube__face--bottom { transform: rotateX(-90deg) translateZ(177px); }
  
  label { margin-right: 10px; }


p.radio-group{
    margin-top: 40px;
    margin-bottom: 20px;
}

.radio-group {
    margin: 10px;
  }

br.resp{
    display: none;
}
  
.radio-group input[type="radio"] {
opacity: 0;
position: fixed;
width: 0;
}
  
.radio-group label {
    display: inline-block;
    background-color: #0060df;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    color: white;
    border-radius: 4px;
}

.radio-group label:hover {
background-color: #031163;
}

.radio-group input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #031163;
    color: white;
  
}


/****** coding ********/

div.coding{
    margin-top: 70px;
}

.coding>h2{
    font-size: 30px;
}



div.htmlTiles{
    text-align: center;
    padding-top: 15px;
    
}




div.industCentre{
    width: 100%;
    margin: auto;
}

div.industryholder{
    width: 100%;
    
    margin: auto;
}

div.ind{
    height: 200px;
    width: 280px;
    background-color: #0060df;
    background-image: radial-gradient(#1877f5, #0060df);
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;

    display: inline-block;
    
    
   
    transition: .5s ease;
   
    

    
    
}

div.ind.first{
    background-image: url("pr/react.png");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: 120px;
}

div.ind.second,
div.ind.third,div.ind.fourth,div.ind.fifth{
    background-image: url("pr/py.png");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: 120px;
}

div.ind.sixth{
    background-image: url("pr/c.png");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: 120px;
}

div.ind.eight{
    background-image: url("pr/yt.png");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: 120px;

}

div.ind.seventh{
    background-image: url("pr/java.png");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: 120px;
}

div.tile{
    width: 100%;
    height: 100%;
    
   
    position: relative; 
}




div.tile>span.tileTitle{
    font-size: 30px;
    color: white;
    text-align: left;
    padding-top: 40%;
    padding-left: 20px;
    display: block;
    transition: 0.5s ease ;
    
}

span.tileText{
    font-size: 18px;
    color: white;
    text-align: left;

    padding-left: 20px;
    display: block; /* make block on hover*/
    opacity: 0;
    transition: ease-out 0.5s;

}

div.tile:hover{
    background-color: rgba(0, 0, 0, 0.37);
    transition: ease 0.5s;
}

div.tile:hover>span.tileTitle {
    padding-top: 26%;
    transition: 0.5s ease ;
    
}

div.tile:hover>span.tileText{
    display: block;
    padding: 5px;
    padding-left: 20px;
    opacity: 1;
    transition: 0.5s ease ;
}

div.tile>a.projectLink{
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    
    /*background-color: rgba(0, 0, 0, 0.281);*/

}





/**** Contact ***/ 

footer.contact{
    height: auto;
    background-color: rgb(3, 17, 99);
    padding-bottom: 10px;
}

footer.contact h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

footer.contact h3.Ctag{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}





div.icontray a.icon{
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

div.icontray a.icon:visited{
    color: white;
}

div.icontray a.icon:active{
    color: white;
    text-decoration: none;
}

div.icontray a.icon:link{
    text-decoration: none;
}

div.icontray a.icon:hover{
    text-decoration: underline;
}

/** form **/
div.conforum{
    display: inline-table;
    width: 40%;
    padding-left: 100px;
    
}

div.conforum h2{
    color: white;
    display: none;
}

input[type=text],  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: rgb(1, 0, 80);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0066ff;
    color: white;
  }
  
 div.forumcenter{
     margin: auto;
    width: 100%;
 } 
  .container {
    border-radius: 5px;
    background-color:rgb(0, 104, 201);
    padding: 20px;
    color: white;
  
  }

div.contactdata{
    padding-top: 50px;
    
    width: 90%;
    margin: auto;
}

div.contactpanel{
    display: inline-table;
    color: white;
    
    margin-left: 20px;

}


div.condatadiv{
    padding-left: 40px;
}

h4.conhead{
    color: rgb(74, 153, 255);
    font-size: 20px;
}

div.iconpanel{
    padding-left: 40px;
}

div.copyright{
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: 100;
}



/************************************ Respon ***************/



@media screen and (max-width:400px){
    section{
        width: 100%;
        
    }
    section.hero{
        height: auto;
    }

    

    section.service{
        height: auto;
    }

    section.industry{
        height: auto;
        padding-bottom: 50px;
    }

    div.industCentre{
        width: 100%;
    }
    div.ind{
        width: 165px;
        height: 110px;
        background-size: 165px 110px;
        margin: 5px;
        background-position: 90px;
        
    }

    div.tile>span.tileTitle{
        font-size: 20px;
    }

    div.ind.first{
        background-image: url("pr/react.png");
        background-size: contain;
        background-repeat: no-repeat;
      
        background-position: 90px;
    }
    
    div.ind.second,
    div.ind.third,div.ind.fourth,div.ind.fifth{
        background-image: url("pr/py.png");
        background-size: contain;
        background-repeat: no-repeat;
      
        background-position: 90px;
    }
    
    div.ind.sixth{
        background-image: url("pr/c.png");
        background-size: contain;
        background-repeat: no-repeat;
      
        background-position: 90px;
    }
    
    div.ind.seventh{
        background-image: url("pr/java.png");
        background-size: contain;
        background-repeat: no-repeat;
      
        background-position: 90px;
    }

    div.ind.eight{
        background-image: url("pr/yt.png");
        background-size: contain;
        background-repeat: no-repeat;
      
        background-position: 90px;
    }

    section.portfolio{
        height: auto;
        padding-bottom: 20px;
    }

    footer.contact{
        height: auto;
        padding-bottom: 20px;
    }

    section.about h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    section.service h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    section.industry h1{
        font-size: 40px;
        
    }

    section.portfolio h1{
        font-size: 40px;
       
    }

    footer.contact h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    div.head h1{
        font-size: 50px;
    }

    div.head img.hpic{
        width: 40%;
    }
    div.head div.subhead{
        width: 90%;
    }

    div.head div.subhead h3{
        font-size: 18px;
        width: 20px;
        margin: 40px;
        text-align: center;
        padding: 0px;
        color: rgb(0, 72, 167);
    }

    p.datapc{
        display: none;
    }

    p.datamobile{
        display: block;
        font-size: 18px;
    }

    

    div.dataimg{
        width: auto;
    }

    img.abtimg{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    section.about div.data{
        width: 320px;
    }


    .scene {
        width: 250px;
        height: 250px;
     
      
      }




    .cube {
        width: 250px;
        height: 250px;
        
      }
      
      .cube__face--front  { transform: rotateY(  0deg) translateZ(125px); }
      .cube__face--right  { transform: rotateY( 90deg) translateZ(125px); }
      .cube__face--back   { transform: rotateY(180deg) translateZ(125px); }
      .cube__face--left   { transform: rotateY(-90deg) translateZ(125px); }
      .cube__face--top    { transform: rotateX( 90deg) translateZ(125px); }
      .cube__face--bottom { transform: rotateX(-90deg) translateZ(125px); }
      
      .cube__face {
      
        width: 250px;
        height: 250px;
       
      }

      br.resp{
        display: block;
    }

    .radio-group label{
        margin: 10px;
    }



  




    img.logo{
        
        width:15%;
        
    }

    div.contactdata{
        padding-top: 5px;
        
    }

    div.icontray h2{
        display: none;
    }

    div.icontray{
        width: 100%;
        margin: auto;
    }

    div.iconpanel{
        padding: 0px;
        width: 80%;
        margin: auto;
    }

    div.cinfo{
        text-align: center;
        margin-top: 50px;
    }


    div.cinfo h2{
        margin-top: 20px;
    }

    div.condatadiv{
        padding:0px;
    }

    div.contactpanel{
        width: 100%;
        margin: auto;
    }

    
    div.conforum{
        width: 100%;
        padding-left: 0px;
        margin: auto;
        margin-top: 20px;
    }

    div.conforum h2{
        display: block;
        text-align: center;
    }

    



    



   
    
   
}

